<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <p class="navbar-brand">Menu</p>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/']" class="nav-link active" aria-current="page"
                            >Lista Productos</a
                        >
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/deportes']" class="nav-link active" aria-current="page"
                            >Deportes</a
                        >
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/coches']" class="nav-link active" aria-current="page"
                            >Coches</a
                        >
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/comics']" class="nav-link active" aria-current="page"
                            >Comics</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
